<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Zaki Generator</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="header-wrapper">
	<div id="header-wrapper2">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Zaki Generator</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
					<li><a href="aboutus.html" accesskey="3" title="">About Us</a></li>
					<li><a href="contactus.html" accesskey="5" title="">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="form">
	<CENTER>
		<h1>Successfully posted to Facebook page: </h1>
		<h1><a href="https://www.facebook.com/sdkjackjhsakjdhfc">ZakiGenerator</a></h1>
	</CENTER>
					
</div>
<div id="wrapper">
	<div id="page" class="container">
		<div >
			<div class="title">
				
				
			</div>
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>Copyright (c) 2013. All rights reserved by Zaki Generator Developpers.</p>
	<p>Design by <a href="https://www.facebook.com/mo2menelgendy">Moamen Gendy</a> & <a href="https://www.facebook.com/fadimakram">Fadi Makram</a></p>
</div>
</body>
</html>